.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color:white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo{
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;


}
.header-search{
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header_searchicon{
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header_searchinput{
  height: 12px;
  padding: 10px;
  /* border: none; */
  width: 70%;
  margin-left: 200px;
  border:5px solid black;
  border-radius: 5px;
  
}
.header_option{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}
.header_nav{
  display: flex;
  justify-content: space-evenly;
}
.header_optionlineone{
  font-size: 10px;

}
.header_optionlinetwo{
  font-size: 10px;
  font-weight: 800;
  
}
.header_optionBasket{
  display: flex;
  color:black;
  align-items: center;
}
.header_basketCount{
  margin-left: 10px;
  margin-right: 10px;
}